results/*

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyw
*.pyz
*.pyzw

# Virtual environments
venv/
env/
env.bak/
env1/
env2/
.env

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log
*.sqlite3
*.db

# Compiled files
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pyzw

# Miscellaneous
.DS_Store
Thumbs.db